openapi: 3.1.0
info:
  title: pkimetal API
  description: PKI Meta-Linter
  contact:
    name: Rob Stradling
    email: rob@sectigo.com
    url: https://github.com/pkimetal/pkimetal/blob/main/README.md#about-this-project
  license:
    name: GNU General Public License v3.0 or later
    url: https://spdx.org/licenses/GPL-3.0-or-later.html
  version: 1.0.1

servers:
  - url: https://pkimet.al
    description: Stable API server
  - url: https://dev.pkimet.al
    description: Development API server
  - url: http://localhost:8080
    description: Local API server

paths:
  /lintcert:
    post:
      operationId: lintcert
      summary: Lint a Certificate
      description: Lints a X.509 certificate
      tags:
        - cert
      requestBody:
        $ref: '#/components/requestBodies/LintRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/LintingSuccessful'
  /linttbscert:
    post:
      operationId: linttbscert
      summary: Lint a to-be-signed Certificate
      description: Creates and lints a X.509 certificate from the specified TBSCertificate
      tags:
        - cert
      requestBody:
        $ref: '#/components/requestBodies/LintRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/LintingSuccessful'
  
  /lintcrl:
    post:
      operationId: lintcrl
      summary: Lint a CRL
      description: Lints a X.509 certificate revocation list (CRL)
      tags:
        - crl
      requestBody:
        $ref: '#/components/requestBodies/LintRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/LintingSuccessful'
  /linttbscrl:
    post:
      operationId: linttbscrl
      summary: Lint a to-be-signed CRL
      description: Creates and lints a X.509 certificate revocation list (CRL) from the specified TBSCertList
      tags:
        - crl
      requestBody:
        $ref: '#/components/requestBodies/LintRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/LintingSuccessful'

  /lintocsp:
    post:
      operationId: lintocsp
      summary: Lint an OCSP Response
      description: Lints an OCSP response
      tags:
        - ocsp
      requestBody:
        $ref: '#/components/requestBodies/LintRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/LintingSuccessful'
  /linttbsocsp:
    post:
      operationId: linttbsocsp
      summary: Lint a to-be-signed OCSP Response
      description: Creates and lints an OCSP response from the specified ResponseData
      tags:
        - ocsp
      requestBody:
        $ref: '#/components/requestBodies/LintRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/LintingSuccessful'
          
  /profiles:
    get:
      operationId: profiles
      summary: List linting profiles
      description: Retrieves the profiles available for linting
      tags:
        - meta
      responses:
        '200':
          description: A list of profiles available for linting
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LintProfile'
                  
  /linters:
    get:
      operationId: linters
      summary: List linters
      description: Retrieves the linters available for linting
      tags:
        - meta
      responses:
        '200':
          description: A list of linters available for linting
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Linter'

components:
  requestBodies:
    LintRequestBody:
      description: The parameters for the linting request
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/LintRequest'

  responses:
    LintingSuccessful:
      description: The response for the specified linting request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LintResponse'
        text/html:
          schema:
            type: string
        text/plain:
          schema:
            type: string

  schemas:
    FindingSeverity:
      type: string
      enum:
        - meta
        - debug
        - info
        - notice
        - warning
        - error
        - bug
        - fatal
      description: The severity of a linter finding

    ResponseFormat:
      type: string
      enum:
        - json
        - html
        - text
      description: The response format
      default: json

    LintRequest:
      type: object
      required:
        - b64input
      properties:
        b64input:
          type: string
          description: The Base64 or PEM-encoded input
        format:
          $ref: '#/components/schemas/ResponseFormat'
        profile:
          type: string
          description: The name of a profile
          default: autodetect
        severity:
          $ref: '#/components/schemas/FindingSeverity'

    LintResponse:
        type: array
        items:
          $ref: '#/components/schemas/LintFinding'

    LintFinding:
      type: object
      required:
        - Linter
        - Finding
        - Severity
      properties:
        Linter:
          type: string
          description: The name of the linter that reported the finding
        Finding:
          type: string
          description: A textual description of the finding
        Severity:
          $ref: '#/components/schemas/FindingSeverity'
        Code:
          type: string
          description: A unique identifier for the finding
        Field:
          type: string
          description: The field within the document that is applicable to the finding

    LintProfile:
      type: object
      required:
        - Name
        - Description
      properties:
        Name:
          type: string
          description: The name of the profile
        Description:
          type: string
          description: A textual description of the profile

    Linter:
      type: object
      required:
        - Name
        - Instances
        - Version
        - Url
      properties:
        Name:
          type: string
          description: The name of the linter
        Instances:
          type: integer
          description: The number of instances of the linter that are currently running
        Version:
          type: string
          description: The version number of the linter
        Url:
          type: string
          format: uri
          description: The home page for the linter project

tags:
  - name: cert
    description: Operations related to X.509 certificates
  - name: crl
    description: Operations related to X.509 certificate revocation lists (CRLs)
  - name: meta
    description: Operations related to pkimetal itself
  - name: ocsp
    description: Operations related to OCSP responses
