name: Scheduled check and PR creation on dependency release

on:
  schedule:
    # Run Hourly
    - cron: '0 * * * *'
  workflow_dispatch:
  
jobs:
  check_release:
    runs-on: ubuntu-latest
    name: Hourly check for dependency releases

    steps:
    - name: Checkout this repo
      uses: actions/checkout@v4

    - name: Setup git
      run: |
          git config --global user.email "gh@pkimet.al"
          git config --global user.name "pkimetal"

    - name: Fetch all branches
      run: git fetch origin

    - name: Run update_dependencies.sh
      run: chmod +x update_dependencies.sh; ./update_dependencies.sh

    - name: Check for changes in go.*
      id: check_changes
      run: |
        git fetch origin main
        if [[ $(git diff --name-only origin/main | grep -w 'go.mod' ) ]]; then
          echo "go.mod has changed"
          echo "release_files_changed=true" >> $GITHUB_ENV
        else
          echo "go.mod has not changed"
          echo "release_files_changed=false" >> $GITHUB_ENV
        fi

    - name: Create auto-release branch
      if: env.release_files_changed == 'true'
      run: |
          git checkout -b auto-release
          git pull
          git push origin -u auto-release
        

    - name: Create Pull Request
      if: env.release_files_changed == 'true'
      uses: peter-evans/create-pull-request@v6
      with:
        add-paths: |
          go.*
        token: ${{ secrets.GITHUB_TOKEN }}
        base: main
        branch: auto-release
        title: "Dependency Release"
        body: "This pull request was automatically created due to a linter release."
        commit-message: Dependency release
        

